## input statement

there are two methods to take  input:
1.raw_input()->python2
2.input()->python3

## input()

read the data directly from the keyboard

In [3]:
x=input("enter x value")
type(x)

enter x value type(x)

str

note->if we write only input,so by default it wil take as str

In [7]:
c=input("enter name")
print(c)

enter name chandu

chandu

In [9]:
b=input("enter a number")
c=int(b)
print(c)
type(c)

enter a number 20

20

int

In [12]:
type(b)

str

In [13]:
e=int(input("enter a number"))
type(e)

enter a number 50

int

In [4]:
c=float(input("enter a num"))
type(c)

enter a num 10.5

float

## write a program to take two input value and do

In [6]:
a=input("enter a num")
b=input("enter a num")
c=int(a)
d=int(b)
print("sum is :",c+d)

enter a num 20
enter a num 30

sum is : 50

## how to take multiple input at a time

In [10]:
a,b=[int(x) for x in input("enter 2 number:").split()]
print ("product of these of this:",a*b)

enter 2 number: 20 30

product of these of this: 600

In [11]:
a,b,c=[int(x) for x in input("enter 3 number:").split()]
print ("product of these of this:",a*b*c)

enter 3 number: 20 30 40

product of these of this: 24000

## eval function

eval will take a string and evaluate the result

In [12]:
x=eval("14+15+200")

In [13]:
x

229

In [14]:
# input of expression
x=eval(input("enter expression"))
x

enter expression 45+50-20+56/7

83.0

In [15]:
type(x)

float

In [17]:
l=eval(input("enter list"))
print(type(l))

enter list 40,20,47

<class 'tuple'>

## output statement

In [19]:
a,b,c,d=45,50,45,8
print(a,b,c,d,sep=",")

45,50,45,8

## formated string

In [18]:
name="chandu"
salary=25000
friend="rahul"
print("hello {0} your salary is {1} and friend is {2}".format(name,salary,friend))
print("hello {x} your salary is {y} and friend is {z}".format(x=name,y=salary,z=friend))

hello chandu your salary is 25000 and friend is rahul
hello chandu your salary is 25000 and friend is rahul