## iterative statements

if we want to group of statement multiple times then
we should go for iterative statement
1.for
2.while

## 1) for loop

if we want to excute some action for every element present in some
sequence (collection ofstring) then we should go for for loop.

syntax:
for x in sequence:
    body
where sequence can be string or any colection
body will be excuted on each element present in string/collection.

In [3]:
i="virat kohli"
for x in i:
    print(x)

v
i
r
a
t

k
o
h
l
i

In [4]:
list=[25,"name",5,8,45,75]
for x in list:
    print(x)

25
name
5
8
45
75

In [6]:
# to print character present in string index wise.
name=input("enter a name")
i=0
for x in name:
    print("character present at",i,"index is :",x)
    i=i+1

enter a name chandu

character present at 0 index is : c
character present at 1 index is : h
character present at 2 index is : a
character present at 3 index is : n
character present at 4 index is : d
character present at 5 index is : u

In [7]:
# print hello 10 times:
c="hello"
for x in range(0,10):
    print(c)

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [14]:
a=10
for x in range(0,10):
    print(a)
    a=a-1

10
9
8
7
6
5
4
3
2
1

In [16]:
a=0
for x in range(0,25):
    if x%2!=0:
        print(x)

1
3
5
7
9
11
13
15
17
19
21
23

In [19]:
n=int(input("enter a num"))
for i in range(n,n*11,n):
    print(i)

enter a num 3

3
6
9
12
15
18
21
24
27
30

## while loop

if we want to excute a group of statements iteratively
until some condition false,then go for while loop.

In [20]:
x=1
while x<=10:
    print(x)
    x=x+1

1
2
3
4
5
6
7
8
9
10

In [19]:
n=int(input("enter a num"))
sum=0
i=1
while i<=n:
    sum=sum+i
    i+=1
    
print("the sum of first",n,"number is",sum)

enter a num 10

the sum of first 10 number is 55

## nested loop

loop within the loop

In [17]:
for i in range(5):
    for j in range(5):
        print("i=",i,"j=",j)

i= 0 j= 0
i= 0 j= 1
i= 0 j= 2
i= 0 j= 3
i= 0 j= 4
i= 1 j= 0
i= 1 j= 1
i= 1 j= 2
i= 1 j= 3
i= 1 j= 4
i= 2 j= 0
i= 2 j= 1
i= 2 j= 2
i= 2 j= 3
i= 2 j= 4
i= 3 j= 0
i= 3 j= 1
i= 3 j= 2
i= 3 j= 3
i= 3 j= 4
i= 4 j= 0
i= 4 j= 1
i= 4 j= 2
i= 4 j= 3
i= 4 j= 4

## transfer statements

break

In [23]:
for i in range(10):
    if i==7:
        print("processing is engough,plz break")
        break
    print(i)

0
1
2
3
4
5
6
processing is engough,plz break

In [25]:
cart=[100,220,250,300,350,700,900]
for iteam in cart:
    if iteam>500:
        print("you get 15 perrcent discount on this order")
        break
    print(iteam)

100
220
250
300
350
you get 15 perrcent discount on this order

## continue

In [26]:
for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [26]:
cart=[200,400,500,600,700]
for item in cart:
    if item>=500:
        print("we can not process this item",item)
        continue
    print(item)

200
400
we can not process this item 500
we can not process this item 600
we can not process this item 700

## pass

pass is a keyword in python
in python if block is required which wont do anything then we can define
the empty block with pass keywoard

In [27]:
for i in range(100):
    if i%9==0:
        print(i)
    else:
        pass

0
9
18
27
36
45
54
63
72
81
90
99

In [37]:
x=200

In [38]:
x

200

In [40]:
del x

## HH

In [42]:
name=input("enter the name")
i=1
for x in name:
    print("chaaracter present at ",i,"in put at:",x)
    i=i+1

enter the name chandu

chaaracter present at  1 in put at: c
chaaracter present at  2 in put at: h
chaaracter present at  3 in put at: a
chaaracter present at  4 in put at: n
chaaracter present at  5 in put at: d
chaaracter present at  6 in put at: u

In [65]:
b=20
for x in range(0,10):
    print(b)
    b=b-1

20
19
18
17
16
15
14
13
12
11